*{
	margin: 0;
	padding: 0;
}
#jr{
	width:1366px;
	height:666px;
	z-index:5;
	display: block;
	position: relative;
	background-image: url(../img/9.jpg);
}
#jr h1{
	position: absolute;
	left: 280px;
	top: 450px;
}
#jr div{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color:white;
	position: absolute;
	left: 1200px;
	top: 500px;
	animation-name: entermove;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
#s1_head{
	position: relative;
	width: 1366px;
	height: 110px;
	
}
#tx{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: left;
	left: 600px;
	background-image: url(../img/3.jpg);
	animation-name: move;
	animation-duration: 5s;
	
}
.section-1 .tit{
    display: block;
    font-size: 40px;
    
    margin-left: 560px;
    animation-name: move1;
    animation-duration: 5s;
    
}
#tx img{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.content1{
	width: 1366px;
	height: 500px;
	background-color: greenyellow;
	opacity: 0.6;
    position:relative;
}

.content1_head{
	width: 1366px;
	height: 80px;
	background-color: palegoldenrod;
	position: absolute;
}

.content1_bottom{
	width: 1366px;
	height: 420px;
}
.c1{

	width:260px;
	height: 80px;
	background-color:paleturquoise;
	margin-left: 10px;
	float: left;
	opacity: 0.8;
}
.c1 span{
	display: block;
	text-align: center;
	line-height: 80px;
	color: darkgray;
	opacity: 1;
	color: black;
}
.c2{
    position:absolute;
    margin-top: 80px;
	width:1366px;
	height:420px;
	background-color: red;
}
.c3{
	background: darkgray;
}
@keyframes move{
	from{
		opacity: 0;
		
	}
	to{
		opacity: 1;
		transform:rotate(720deg);
	}
}
@keyframes move1{
	from{
		margin-left: 0;
		opacity: 0;
		flag=true;
	}
	to{
		margin-left: 560px;
		opacity: 1;
		
	}
}
@keyframes entermove{
	from{
		top: 500px;
	}
	to{
		top: 540px;
	}
}
